@import '~assets/styles/variables.scss';

.search{
  padding: 5px;
  border-radius: 5px;

  background-color: $bg-search;

  // textfield
  &__field{
    border: 0;
    outline: 0;
    background-color: transparent;

    color: $search-text-color;
  }

  // button
  &__button{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: inherit;

    width: 30px;
    height: 30px;
    border-radius: 5px;
    
    color: $color-snow;
    font-size: 16px;
    background-color: $primary-color;
  }

}
