@import '../../../assets/styles/variables.scss';

.loader{
  position: fixed;
  top: 0; left: 0;
  z-index: $zIndex-5;

  width: 100%;
  height: $loader-height;

  background-color: $secondary-color-2;

  &__progress{
    width: 50%;
    height: 100%;
    border: {
      top-right-radius: 2px;
      bottom-right-radius: 2px;
    }
    
    background: linear-gradient(to right, $loader-gradient-from 0%,$loader-gradient-to 100%);
    // background-color: $primary-color;
  }
}