@import "~assets/styles/variables.scss";

.navbar {
  flex: 0 0 20%;

  min-width: 300px;
  padding: {
    top: 30px;
    bottom: 30px;
    left: 50px;
    right: 50px;
  }

  background-color: $secondary-color;
}
