@import '../../../../assets/styles/variables.scss';

// notification default's
.notification{
  display: flex;

  border-radius: $notification-radius;
  padding: $notification-padding;

  color: $color-snow;
  box-shadow: 0 5px 15px 0 rgba($color-night, .2);

  @media(max-width: $sm-max){
    width: 100%;
  }
  @media(min-width: $sm){
    max-width: 600px;
  }

  margin: {
    top: 5px;
    bottom: 5px;
  }

  // title & text wrapper
  &__body{
    flex-grow: 1;

    padding-right: 20px;
  }
  // title
  &__title{
    margin: 0;

    font-size: 20px;
  }
  // text
  &__text{
    margin: 0;
  }

  // controls => close button
  &__controls{
    flex-shrink: 0;
  }
  // close button
  &__button-close{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    color: inherit;

    font-size: 20px;
  }
  
}
