@import '~assets/styles/variables.scss';

.notification {

  // default
  &--default{
    background-color: $bg-notification-default;
  }

  // success
  &--success{
    background-color: $bg-notification-success;
  }

  // warning
  &--warning{
    background-color: $bg-notification-warning;
  }

  // eror
  &--error{
    background-color: $bg-notification-error;
  }

}
