.notification {
  display: flex;
  border-radius: 10px;
  padding: 15px 20px 15px 30px;
  color: #fff;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2); }
  @media (max-width: 767px) {
    .notification {
      width: 100%; } }
  @media (min-width: 768px) {
    .notification {
      max-width: 600px; } }
  .notification:not(:last-child) {
    margin-bottom: 10px; }
  .notification__body {
    flex-grow: 1;
    padding-right: 20px; }
  .notification__title {
    margin: 0;
    font-size: 20px; }
  .notification__text {
    margin: 0; }
  .notification__controls {
    flex-shrink: 0; }
  .notification__button-close {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    font-size: 20px; }
