.notification--default {
  background-color: #396afc; }

.notification--success {
  background-color: #69c75c; }

.notification--warning {
  background-color: #eaba1c; }

.notification--error {
  background-color: #df4949; }
