.folder-tree {
    color: rgba(0, 0, 0, 0.65) !important;
}

.folder-tree:hover {
    color: #222222 !important;
}

.MuiSvgIcon-root.folder-icon {
    fill: #bbccd8;
    stroke: #70818c;
    stroke-width: 1;
    width: 1.2em;
    height: 1.2em;
}

.folder-tree:hover .MuiSvgIcon-root.folder-icon {
    stroke: #222222;
}

.folder-tree.Mui-selected .folder-icon {
    fill: #396afc;
    stroke: #222222;
}
