@import "./../../scss/_variables.scss";

body{
  font: {
    family: $font;
    size: 16px;
  }
  color: $primary-text-color;
}

* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.main{
  display: flex;
  flex-grow: 1;

  overflow: hidden;
}

.layout {
  flex-grow: 1;
  background-color: $secondary-color-1;
}
