// ==
// Theme colors
$primary-color: #396afc;
$secondary-color: #dae7f0;

$primary-text-color: #222222;
$secondary-text-color: #70818c;

$secondary-color-1: #ebf2f7;
$secondary-color-2: #d1dde6;

$color-night: #000;
$color-snow: #fff;

// ==
// Mediaqueries
$lg: 1200px;
$lg-max: $lg - 1;
$md: 992px;
$md-max: $md - 1;
$sm: 768px;
$sm-max: $sm - 1;
$xs: 568px;
$xs-max: $xs - 1;

// ==
// Font
$font: 'Roboto', sans-serif;

// ==
// BoxShadow
$box-shadow: 0 0 20px 0 rgba($color-night, .2);
$box-shadow-1: 0 0 10px 0 rgba($color-night, .2); 

// ==
// zIndex
$zIndex-5: 9999;

// ==
// Elements

// =Loader
$loader-gradient-from: lighten($primary-color, 15%);
$loader-gradient-to: $primary-color;
$loader-height: 4px;

// =Search
$bg-search: #dfe6eb;
$search-text-color: #70818c;

// =Notification
$bg-notification-default: #396afc;
$bg-notification-success: #69c75c;
$bg-notification-warning: #eaba1c;
$bg-notification-error: #df4949;

$notification-radius: 10px;
$notification-padding: 15px 20px 15px 30px;
